    <div class="container" style="padding-top:40px;">
       <div class="row">
            <div class="col-lg-12" padding >
                <h1 class="page-header" >About Us <small class="text-muted"> Great to meet ya'</small></h1>
                <blockquote class="blockquote">
            			<p>This is a sample project built on rails.</p>
          				<p>I've strugged in the past few years to get everybody on the same page about projects. I've used tools like <a href= "http://asana.com"> Asana </a>, <a href="https://atlassian.com"> Jira </a>, and other collaboration tools, but none of them delivered. All of them were too clunky, it didn't allow the entire team to work on projects together. Often those other alternatives were used only by the engineering and product teams. That doesn't allow your team to work together to solve tough problems. Don't even get me started on how <a href="slack.com"> Slack </a> helps or hurts team effectiveness. </p>

          				<p>This was clear during my tenure at <a href = "https://SmartThings.com"> SmartThings </a>. When I first started collaborating with the SmartThings team I was building on top of their developer platform. I later joined the company as a Product Lead; however, I was deeply engrained in the developer team working with other developers on making the best darn smart home. Productivity was high, people were dicuscussing ideas and it was awesome; however, this same collaboration didn't translate internally when I joined the team. Information was hard to pass along, teammates couldn't join in on conversations and ultimately it was just not a hard to move things along without sending HipChat messages or emails to the entire functional team.</p>
          				<p>
          				My hope is to bring the same forums like system to Businesses so that teams can work more effectively together.</p>
                </blockquote>
            </div>
       </div>
   </div>
