<div class="container" style="padding-top:40px;">
	<div class="row">
        <div class="col-lg-12" padding>
            <h1 class="page-header" >Contact Us <small class="text-muted"> Chat with me at:</small></h1>
			<br>
			<ul class="fa-ul">
			  <li>
			  <a href="https://twitter.com/thegilbertchan"><i class="fa-li fa fa-twitter-square"></i>Twitter</a></li>
			  <a href="https://www.linkedin.com/in/thegilbertchan/"><li><i class="fa-li fa fa-linkedin-square"></i>LinkedIn</a></li>
			  <a href="mailto:thegilbertchan@gmail.com"><li><i class="fa-li fa fa-envelope"></i>Email</a></li>
			</ul>
		</div>
	</div>
</div>     
