<h1>Contact us</h1>
<h2>You can find me at: </h2>
<p>
<a href="https://www.twitter.com/thegilbertchan"> Twitter </a> <br>
<a href="https://www.linkedin.com/in/thegilbertchan/"> LinkedIn </a> <br>
<a href="mailto:thegilbertchan@gmail.com"> Email </a>
</p>
