<br>
<div class="container">
	<div class="row">
		<div class="col-8">
			<h1>Contact us</h1>
			<h2>You can find me at: </h2>
			<ul class="fa-ul">
			  <li>
			  <a href="https://twitter.com/thegilbertchan"><i class="fa-li fa fa-twitter-square"></i>Twitter</a></li>
			  <a href="https://www.linkedin.com/in/thegilbertchan/"><li><i class="fa-li fa fa-linkedin-square"></i>LinkedIn</a></li>
			  <a href="mailto:thegilbertchan@gmail.com"><li><i class="fa-li fa fa-envelope"></i>Email</a></li>
			</ul>
		</div>
		<div class="col-4">
		</div>
	</div>
</div>

