<div class="container" style="padding-top:40px;">

<h1>New Forum Post</h1>

<%= render 'form', forum_post: @forum_post %>


<!-- TODO: bug here where we're not going back to the right page, only going to index 
<!-- link_to 'Back', forum_thread_forum_posts_path(@forum_post.forum_thread) -->
<%= link_to 'Back', forum_threads_path %>


</div>